@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Courgette&family=Satisfy&family=Patrick+Hand+SC&display=swap');
/* font-family: 'Courgette', cursive;
font-family: 'Patrick Hand SC', cursive;
 font-family: 'Satisfy', cursive;
*/ 

body {
	font-family: 'Alegreya', serif;
	margin: 0;
	padding: 0;

}

header {
  position: fixed;
  width: 100%;
	background-image: linear-gradient( 63.1deg,  rgb(0, 0, 0) 16.4%, #3c0263 64.5% );
	color: #fff;
	padding-left: 20px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  text-align: center;
  z-index: 3;
}
nav h1{
  font-size: 1.5rem;
  margin-left: 30px;
}
nav{display: flex;
justify-content: space-between;
margin-right: 20px;
}
nav ul {
  width: 60%;
  align-items: center;
  display: flex;
	list-style: none;
  justify-content: space-evenly;
	margin: 0;
	padding: 0;
}

nav ul li {
 
	margin-right: 20px;
  padding: 10px 0;
}

nav ul li a {
	color: #fff;
	text-decoration: none;
  font-size: 1.3rem;
  align-items: center;

}
nav ul li:hover{
  /* border-bottom:2px solid #0ff; */
  border-bottom:2px solid #0ff;
  transform: translateY(-8px);
  color: #0ff;
  
  transition: 0.5s linear ;

}


#hero {
  height: 75vh;
  background-image: url("https://image.lexica.art/full_jpg/c69e1367-7b1d-45cf-9507-f41b83a8d96c");
	background-size: 100%;
	background-position: center ;
	color: #ffffff;
 padding-top: 150px;
 padding-bottom: 100px;
	text-align: center;
  background-repeat: no-repeat;
  
}
.herotitle{
  background-image: url("");
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  
}
#nametext{
  margin-top: -15px;
  margin-bottom: -10px;
  font-size: 70px;
	font-family: 'Alegreya', serif; 
}
#headingtext{
  margin: 20px 100px;
  width: 300px;
  font-size: 70px;
  font-family: 'Alegreya', serif; 
   text-align: center;
  border-bottom: 10px solid #3c0263;
  border-bottom-left-radius:10px ;
  border-bottom-right-radius: 10px;
 
}

.myimg img{
  width: 350px;
  height: 400px;
  border-radius: 50%;
  border: 10px solid white;
}
/* #herobtn{
  font-family: 'Patrick Hand SC', cursive;
  color:white;
  background-color: #3c0263;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
} */


.noselect {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
		-webkit-tap-highlight-color: transparent;
}

button {
	width: 75px;
	height: 75px;
	cursor: pointer;
	background-color: #5de6de;
	background-image: linear-gradient(315deg, #5de6de 0%, #b58ecc 74%);
	border: none;
	border-radius: 50%;
	transition: 200ms;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

button svg {
	fill: white;
	width: 30px;
	height: 30px;
	position: absolute;
	transform: translateX(-50%) translateY(-50%) rotate(180deg);
 
  
}

button:before {

	content: 'Explore More';
	position: absolute;
	transform: translateX(-50%) translateY(45px);
	font-size: 15px;
	transition: 200ms;
	color: transparent;
	font-weight: bold;
}

button:hover {
	box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
	transform: translateY(-10px);
}

button:hover::before {
	color: #ffffff; 
}

button:hover svg {
		animation: bounce 1s infinite linear;
}
#my{
  color:#b700ff
}
#nametext>span:hover{
  color: #fff;
  transition: 0.1s ;

}
@keyframes bounce {
	0% {transform: translateX(-50%) translateY(-50%) rotate(180deg)}
	25% {transform: translateX(-50%) translateY(-65%) rotate(180deg)}
	50% {transform: translateX(-50%) translateY(-50%) rotate(180deg)}
	75% {transform: translateX(-50%) translateY(-35%) rotate(180deg)}
	100% {transform: translateX(-50%) translateY(-50%) rotate(180deg)}
}

.noselect:focus {
	outline: none;
}
#about{
  align-items: center;
  background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(255,94,247,1) 17.8%, rgba(2,245,255,1) 100.2% );
  background-size: 100%;
	background-position: center;
  color: #ffffff;
	padding: 100px 50px;
	text-align: center;
  display:flex ;
  height: 80vh;
}
#about h2 {
	margin-top: 0;
}
.innerdiv{
  color: black;
  background-image: linear-gradient( 174.2deg,  rgba(255,244,228,1) 7.1%, rgba(240,246,238,1) 67.4% );
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
   margin: 0 50px; 
   border-radius: 50px;
   height: fit-content;
   align-items: center;
text-align: center;
align-items: center; 
padding:50px ;
}
.gallery {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.gallery a {
	flex: 0 1 calc(33.3% - 10px);
	margin-bottom: 20px;
}

.gallery img {
	display: block;
	max-width: 100%;
}

.card-container {
    -webkit-perspective: 500px;
            perspective: 500px;
}

.card-container:hover .card{
    -webkit-transform: rotateY( 180deg );
            transform: rotateY( 180deg );
}

.card {
    -webkit-transition: -webkit-transform 2s;
            transition: transform 2s;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
}

.front, .back {
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
}

.back {
    -webkit-transform: rotateY( 180deg );
            transform: rotateY( 180deg );
}

/*Custom Styles*/
.cards-container{
   display: -webkit-flex;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-flex-direction: row;
   -webkit-box-orient: horizontal;
   -webkit-box-direction: normal;
       -ms-flex-direction: row;
           flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card {
  width:500px;
	height:620px;
  margin: 20px 30px;
  border-radius: 20px;
  
}
.cardhero {
  width: 350px;
	height:400px;

  
}

.front, .back {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  padding: 10px;
  height:auto !important;
  border-radius: 20px;
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;

}
.front:hover, .back:hover {
  box-shadow: rgba(99, 2, 94, 0.45) 0px 25px 20px -5px;
}
#portfolio{
  padding: 50px 20px 150px 20px;
}
#desc{
  margin-left: 55px;
  font-weight: 400;
  color:#313131;
  font-size: 1.2rem;
}
#Pname{
  margin-top: 15px;
  margin-bottom:-10px ;
  letter-spacing: 3px;
  font-size: 40px;
}
#Dname{
  margin-top: -10px;
  margin-bottom:-10px ;
  letter-spacing: 2px;
  font-size: 30px;
  color: #3c0263;
}
#pbtn{
  border-radius: 7px;
 margin-right:20px;
  padding: 7px 10px;
  text-decoration: none;
  color: #490046;
  font-size: 1.5rem;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
#pbtn:hover{
  box-shadow: rgba(88, 2, 99, 0.45) 0px 25px 20px -5px;
  color: green;
  transition: 0.3s;
  }
#Tskills{
  background-image: url("https://image.lexica.art/full_jpg/bce0b23e-e275-4c61-9f45-e45cbf1db80c");
  background-size: cover;
  width: auto;
  height: 180vh;
}

/* Carouseel button css START here */
/* 
.carousel-container {
  position: relative;
}

.carousel-slide {
  display: flex;
  overflow-x: auto;
}

.carousel-slide img {
  width: 100%;
  height: auto;
}

.carousel-buttons {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.carousel-buttons button {
  margin: 0 10px;
} */
/* Carouseel button css END here */