@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap');

/* @import url('https://fonts.googleapis.com/css2?family=Courgette&family=Satisfy&family=Patrick+Hand+SC&display=swap');
/* font-family: 'Courgette', cursive;
font-family: 'Patrick Hand SC', cursive;
 font-family: 'Satisfy', cursive;
*/
* {
  box-sizing: border-box;
}

body {
  font-family: 'Alegreya', serif;
  margin: 0;
  padding: 0;

}


header {

  z-index: 3;
}

.mainnav h1 {
  font-size: 1.5rem;
  margin-left: 30px;
}

.mainnav {
  position: fixed;
  width: 100%;
  background-image: linear-gradient(63.1deg, rgb(0, 0, 0) 16.4%, #3c0263 64.5%);
  color: #fff;
  padding-left: 20px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  text-align: center;
  display: flex;
  justify-content: space-between;
  margin-right: 20px;
  z-index: 20;
}

.main-ul {
  width: 60%;
  align-items: center;
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  margin: 0;
  padding: 0;
}

.main-ul li {

  margin-right: 20px;
  padding: 10px 0;
}

.main-ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 1.3rem;
  align-items: center;

}

.main-ul li:hover {

  border-bottom: 2px solid #0ff;
  transform: translateY(-8px);
  color: #0ff;

  transition: 0.5s linear;

}

.resp-ul {
  margin-left: 50px;
  background-image: linear-gradient(63.1deg, #000000d7 16.4%, #3c0263d5 64.5%);
  display: none;
  padding: 20px;
  border-radius: 20px;
  border-left: 2.5px solid rgba(255, 255, 255, 0.74);
  border-bottom: 2.5px solid rgba(255, 255, 255, 0.74);
 
  /* position: absolute; */
}

.resp-ul ul {
  padding: 20px;
  margin: auto;
width: fit-content;
  list-style: none;
}

.resp-ul li,
a {
  font-size: 1.3rem;
  padding: 10px;
  text-decoration: none;
  color: #fff;
}

.hamburger {
  display: none;
  height: auto;
  background-image: linear-gradient(63.1deg, rgb(0, 0, 0) 16.4%, #3c0263 64.5%);
  position: fixed;
  /* left: 0; */
  width: 100%;
  height: 80px;

}

.hamburger h1 {
  font-size: 1.5rem;
  margin-left: 30px;
  color: white;
}

.hamburger .navbtn1 {
  position: absolute;
  right: 20px;
  top: 20px;
  padding: 10px;
  background-color: #6e0099;
  color: white;
  border: none;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.navbtn2 {
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  border-radius: 10px;
  border: none;
  padding: 10px;
  position: absolute;
  right: 50px;
  top: 50px;
  background-color: #6e0099;
  color: rgb(255, 45, 45);
}



/* */
/* .hamburger .line {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 5px;
} */

  #hero {
  background-image: url("https://image.lexica.art/full_jpg/c69e1367-7b1d-45cf-9507-f41b83a8d96c");
  background-size: 100%;
  background-position: center;
  background-attachment: fixed;

  padding-top: 150px;
  padding-bottom: 100px;
  text-align: center;


}

.herotitle {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: #ffffff;

 
}
#crystal{
  width:400px; height:500px;
}
#nametext {
  margin-top: -15px;
  margin-bottom: -10px;
  font-size: 70px;
  font-family: 'Alegreya', serif;
}
.herotitle #hero1{
  width: 40%; background-color: #1e0733cc;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset; margin: 0 50px 0 100px; border-radius: 50px;align-items: center; padding: 20px 50px ;
              text-align: center;align-items: center;
}
#headingtext {
  margin: 20px 100px;
  width: fit-content;
  font-size: 70px;
  font-family: 'Alegreya', serif;
  text-align: center;
  border-bottom: 10px solid #3c0263;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;

}

.myimg img {
  width: 350px;
  height: 400px;
  border-radius: 50%;
  border: 10px solid white;
}
.myimg div{
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset; border-radius: 50%;
}
.myimg div:hover {

  transform: translateY(-10px);
  transition: 0.3s;
}

/* #herobtn{
  font-family: 'Patrick Hand SC', cursive;
  color:white;
  background-color: #3c0263;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
} */


.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

#explorebtn {
  width: 75px;
  height: 75px;
  cursor: pointer;
  background-color: #5de6de;
  background-image: linear-gradient(315deg, #5de6de 0%, #b58ecc 74%);
  border: none;
  border-radius: 50%;
  transition: 200ms;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

#explorebtn svg {
  fill: white;
  width: 30px;
  height: 30px;
  position: absolute;
  transform: translateX(-50%) translateY(-50%) rotate(180deg);


}

#explorebtn:before {

  content: 'Explore More';
  position: absolute;
  transform: translateX(-50%) translateY(45px);
  font-size: 15px;
  transition: 200ms;
  color: transparent;
  font-weight: bold;
}

#explorebtn:hover {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  transform: translateY(-10px);
}

#explorebtn:hover::before {
  color: #ffffff;
}

#explorebtn:hover svg {
  animation: bounce 1s infinite linear;
}

#my {
  color: #b700ff
}

#nametext>span:hover {
  color: #fff;
  transition: 0.1s;

}

@keyframes bounce {
  0% {
    transform: translateX(-50%) translateY(-50%) rotate(180deg)
  }

  25% {
    transform: translateX(-50%) translateY(-65%) rotate(180deg)
  }

  50% {
    transform: translateX(-50%) translateY(-50%) rotate(180deg)
  }

  75% {
    transform: translateX(-50%) translateY(-35%) rotate(180deg)
  }

  100% {
    transform: translateX(-50%) translateY(-50%) rotate(180deg)
  }
}

.noselect:focus {
  outline: none;
}

#about {
  align-items: center;
  background: linear-gradient(to right, #ad5389, #3c1053);
  background-size: 100%;
  background-position: center;
  color: #ffffff;
  padding: 100px 50px;
  text-align: center;
  display: flex;

}

#about h2 {
  margin-top: 0;
}

.innerdiv {
  color: black;
  background-image: linear-gradient(174.2deg, rgba(255, 244, 228, 1) 7.1%, rgba(240, 246, 238, 1) 67.4%);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  margin: 0 50px;
  border-radius: 50px;
  height: fit-content;
  align-items: center;
  text-align: center;
  padding: 50px;
}
.innerdiv div{
  display: flex; justify-content: center;
}
.innerdiv img{
  border-radius: 50%;margin-top: 20px;
            width:80px; height:90px;
}
.innerdiv p{
  font-size: 1.5rem; text-align: justify;
}


.Proj1 {
  box-shadow: rgba(50, 50, 93, 0.555) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.534) 0px 18px 36px -18px inset;
  margin: 50px 10px 50px 10px;
  /* border: 5px solid rgba(88, 0, 122, 0.445); */
  background-image: linear-gradient( 68.4deg,  rgba(248,182,204,1) 0.5%, rgba(192,198,230,1) 49%, rgba(225,246,240,1) 99.8% );
  border-radius: 50px 0;
  padding: 50px 25px;
  display: flex;
}
#project{
  padding-bottom: 100px;
  background-image: radial-gradient( circle 321px at 8.3% 75.7%,  rgba(209,247,241,1) 0%, rgba(249,213,213,1) 81% );
}
#headingtitle{
  padding: 50px 0; display: flex;
}
#headingtitle img{
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;border-radius: 50%;margin-left:350px; margin-top: 30px;width: 80px;
  height: 90px;
}
.div3{
  margin-right: 20px;
  margin-left: 20px;
 
 
}
.div2{
  text-align: center;
  margin-left: 20px;
}
.lap1 {
  margin-bottom: 20px;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  border-radius: 50px;
  background-image: linear-gradient( 68.6deg,  rgba(252,165,241,1) 1.8%, rgba(181,255,255,1) 100.5% );
}

#desc {
  padding: 10px 0;
  width: 90%;
  font-weight: 400;
  color: rgb(36, 13, 49);
  font-size: 1.2rem;
}

#Pname {
  box-shadow: rgba(43, 0, 59, 0.253) 0px 3px 12px;
  padding: 10px;
  width: fit-content;
  margin-top: 15px;
  margin-bottom: -10px;
  letter-spacing: 3px;
  font-size: 40px;
  border-radius: 7px;
}

#Dname {
  box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
  padding: 10px;
  border-radius: 7px;
  width: fit-content;
  margin-top: -10px;
  margin-bottom: -10px;
  letter-spacing: 2px;
  font-size: 30px;
  color: #570091;
}

#pbtn {
  border-radius: 7px;
  margin-right: 20px;
  padding: 7px 10px;
  text-decoration: none;
  color: #2a0036;
  font-size: 1.5rem;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

#pbtn:hover, #Dname:hover, .lap1:hover, #Pname:hover{
  box-shadow: rgba(88, 2, 99, 0.45) 0px 25px 20px -5px;
  color:white;
  transition: 0.3s;
}

#Tskills {
  background-image: linear-gradient(358.4deg, rgba(249, 151, 119, 1) -2.1%, rgba(98, 58, 162, 1) 90%);
  height: auto;
  padding-bottom: 100px;
}
#Tskills #headingtitle img{
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;border-radius: 50%;margin-left:250px; margin-top: 30px;width: 80px;
  height: 90px;

}
#Tskills #headingtitle {
  width: fit-content;
  color: whitesmoke;
}
#Cskill {
  background-image: linear-gradient(109.6deg, rgba(238, 58, 136, 1) 11.2%, rgba(128, 162, 245, 1) 91.1%);

  padding-bottom: 100px;
}
#Cskill #headingtitle img{
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;border-radius: 50%;margin-left:200px; margin-top: 30px;width: 80px;
  height: 90px;

}
#Sskill{
  background-image: linear-gradient( 358.4deg,  rgba(249,151,119,1) -2.1%, rgba(98,58,162,1) 90% );
}
#Sskill #headingtitle img{
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;border-radius: 50%;margin-left:350px; margin-top: 30px;width: 80px;
  height: 90px;
}
.logo {
  display: grid;
  gap: 80px;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  margin: auto;
  padding: 20px 100px;

}

.logo img {
  width: 150px;
  height: 150px;
  border-radius: 30%;
}

.logo div {
  padding: 20px 10px;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  text-align: center;
  height: auto;
  background-image: linear-gradient(63.1deg, rgba(0, 0, 0, 0.514) 16.4%, #3c02638e 64.5%);
  border-radius: 20px;
}


.emptydiv{
  padding: 20px 10px;
       box-shadow: none !important;
        height: 230px;
        background-image: none !important;

}
.skillname {
  color: white;
  font-size: 2rem;
}

.logo div:hover {
  background-image: linear-gradient(63.1deg, rgba(0, 0, 0, 0.993) 16.4%, #3c0263 64.5%);
  transform: translateY(-10px);
  transition: 0.2s;
}

#contact {
padding-top: 50px;
  background-image: linear-gradient(63.1deg, rgb(0, 0, 0) 16.4%, #3c0263 64.5%);
}

#call {
  
  padding: 50px;
  display: grid;
  justify-content: center;
  grid-template-columns: auto auto auto;
  gap: 20px;
  border-bottom: 2px solid aqua;
}

#icontext {
  margin-left: 10px;
  font-size: 30px;
  text-decoration: none;
  color: white;
}

#call div {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  border-radius: 20px;
  background-color: #b700ff6e;
}

#call div:hover {
  transform: translateY(-5px);
  border-bottom: 2px solid aqua;
  transition: 0.3s;
}

#contactbtn {
  margin: auto;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  padding: 10px 20px;
  width: fit-content;
  border-radius: 10px;
  color: white;
  font-size: 1.5rem;
  background-image: radial-gradient(circle farthest-corner at 32.7% 82.7%, rgba(173, 0, 171, 1) 8.3%, rgba(15, 51, 92, 1) 79.4%);
}

#contactbtn:active {
  transform: translateY(-10px);
  transition: 0.3s;
}

#contactbtn:hover {
  background-image: radial-gradient(circle farthest-corner at 10% 20%, rgba(255, 94, 247, 1) 17.8%, rgba(2, 245, 255, 1) 100.2%);
  color: #3c0263;
  border-bottom: 2px solid #b700ff;
}

#lastdiv {
  align-items: center;
  border-bottom: 2px solid #b700ff;
  display: flex;
  justify-content: space-evenly;
  padding: 50px;
}

.form {
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -6px, rgba(0, 0, 0, 0.2) 0px -6px 0px inset;
  padding: 20px;
  width: 40%;
  display: grid;
  gap: 20px;
  grid-template-rows: 50px 50px 50px 50px;
  background: white;
}

.form input {
  border-radius: 20px;
  padding: 10px;

  border: 2px solid #54008b;
}

#footer {

  font-size: 1.3rem;
  text-align: center;
  background-color: #fff;
}

/* Carouseel button css START here */
/* 
.carousel-container {
  position: relative;
}

.carousel-slide {
  display: flex;
  overflow-x: auto;
}

.carousel-slide img {
  width: 100%;
  height: auto;
}

.carousel-buttons {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.carousel-buttons button {
  margin: 0 10px;
} */
/* Carouseel button css END here */